/* SITE THEME */

:root {
    --purple: #72147e;
    --pink: #f21170;
    --yellow: #fa9905;
    --orange: #ff5200;
}

/* PAGE RULES */

html {
    font-family: 'Archivo', sans-serif;
}

body {
    margin: 0 auto;
    background-color: var(--purple);
}

#wrapper {
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--pink)
}

/* HEADER */

header img {
    max-width: 960px;
    max-height: 145px;
}

header {
    overflow: hidden;
}

#header-overlay {
    display: block;
    position: absolute;
    width: 960px;
    height: 150px;
    top: 0;
}

#header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

/* NAV */

nav {
    background: var(--orange);
    margin-top: -4px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-top: 21px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.active {
    background-color: var(--yellow)
}

/* MAIN */

main {
    margin: 0 20px;
}

/* FOOTER */

footer {
    text-align: center;
    color: white;
    background-color: var(--orange);
    padding: 1px 0;
}

/* HOME PAGE */

.home-img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* DESTINATIONS PAGE */

.destinations-grid {
    display: flex;
    justify-content: center;
}

.destinations-grid figure {
    border: 1px solid var(--orange);
    padding: 10px;
}

.destinations-grid figcaption {
    text-align: center;
    color: var(--orange);
    margin: 8px;
}

/* VIRTUAL TOUR PAGE */

.video {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/* PACKAGES PAGE */

.vacation-package {
    width: 95.5%;
    border: 3px solid var(--orange);
    border-radius: 20px;
    padding: 20px;
    padding-top: 0px;
    display: flex;
    margin-bottom: 20px;
}

.vacation-package h2 {
    color: var(--purple);
}

.spacer {
    height: 2.5em;
}

.vacation-right {
    margin-left: 20px;
}

/* CONTACT US PAGE */

.booking label {
    display: block;
}

.booking span {
    display: block;
    padding-top: 1rem;
}

.booking textarea {
    width: 400px;
    height: 100px;
}

.submit-button {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--yellow);
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
    border: 2px solid var(--orange);
    border-radius: 20px;
}

input, textarea {
    background-color: rgba(242, 17, 111, 0.1);
}