/* SITE THEME */

:root {
    --dark-blue: #2D6FF8;
    --medium-blue: #278FD9;
    --light-blue: #38D4F0;
    --blue-green: #27D9C3;
    --light-green: #2DF8A6;
}

/* PAGE RULES */

html {
    font-family: 'Archivo', sans-serif;
}

body {
    margin: 0 auto;
    background-color: var(--light-blue);
}

#wrapper {
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
}

/* HEADER */

header img {
    max-width: 960px;
    max-height: 145px;
}

header {
    overflow: hidden;
}

#header-overlay {
    display: block;
    position: absolute;
    width: 960px;
    height: 150px;
    top: 0;
}

#header-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:white;
    margin: 0;
}

/* NAV */

nav {
    background: var(--dark-blue);
    margin-top: -4px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-top: 21px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.active {
    background-color: var(--light-green)
}